{% extends 'layout.html' %}

{% block mainBlock %}
<style>
</style>


{%for graph,title in content %}
<div class="gallery">

    <a target="_blank" , href>
        <img src='data:image/png;base64,{{graph}}' class="img-fluid">
    </a>
</div>
{%endfor%}
{%for src, article, title in news %}
<main role="main" class="container">
    <div class="jumbotron">
        <h5>{{title}}</h5>
        <p class="lead">{{article}}</p>
        <a class="btn btn-lg btn-primary" href="{{src}}" role="button">Go to source &raquo;</a>
    </div>
</main>
{%endfor%}

{% endblock %}