<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if title %}
    <title>SS - {{ title }}</title>
    {% else %}
    <title>SS</title>
    {% endif %}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&display=swap"
          rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <header class="mb-4">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="{{ url_for('index') }}"> 📊 Stock Scraper</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target=".my-nav-links"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse my-nav-links" id="navbarNavAltMarkup2">
                        <div class="navbar-nav ml-auto mr-3">
                            <a class="nav-item nav-link" href="{{ url_for('news') }}">News</a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse my-nav-links" id="navbarNavAltMarkup1">
                        <div class="navbar-nav ml-auto mr-3">
                            <a class="nav-item nav-link" href="">Top Stocks</a>
                        </div>
                    </div>
                    <!--                    <div class="collapse navbar-collapse my-nav-links" id="navbarNavAltMarkup4">-->
                    <!--                        <div class="navbar-nav ml-auto mr-3">-->
                    <!--                            <a class="nav-item nav-link" href=""></a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="collapse navbar-collapse my-nav-links" id="navbarNavAltMarkup5">-->
                    <!--                        <div class="navbar-nav ml-auto mr-3">-->
                    <!--                            <a class="nav-item nav-link" href=""></a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="collapse navbar-collapse my-nav-links" id="navbarNavAltMarkup3">-->
                    <!--                        <div class="navbar-nav ml-auto mr-3">-->
                    <!--                            <a class="nav-item nav-link" href=""></a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </nav>
            </header>
        </div>
    </div>
    <div class="container">
        <form method="post" action="/search">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="form1" name="search" class="form-control"/>
                    <label class="form-label" for="form1">Search</label>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

</div>
<div class="container">
    {% block mainBlock %} {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>